body {
    font-family: Arial, Helvetica, sans-serif;
}

div#parent {
    border: 1px solid black;
    width: 780px;
    margin:0 auto;
}

div#parent section {
    border: 1px solid black;
}

section.sub-head {
    background-image: url('files/histHomepic.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
}

section.main-content-area {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    nav.secondary {
        min-height: 20px;
        border: 1px dotted red;
        text-align: right;
        padding-right: 20px;
        font-size: 11px;

        a {
            margin: 0 5px;
            color: black;
            text-decoration: none;
            text-transform: uppercase;

            &:hover {
                text-decoration: underline;
            }
        }

        &.bottom {
            font-size: 9px;

            a {
                text-transform: lowercase;
            }
        }
    }

    section.brown-box {
        background-color: #BEC4A1;
        padding: 20px;
        border-radius: 10px;
        min-height: 400px;
        display: flex;
        justify-content: space-between;

        > * {
            border: none;
            margin: 10px;
        }

        .left-side {
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            a {
                color: black;
            }

            > * {
                border: none;
            }

            nav {
                a {
                display: block;
                    text-decoration: none;
                    margin-bottom: 10px;
                    font-size: 12px;
                    padding: 8px 0 8px 12px;
                    border-bottom: 1.5px solid #60663E;
                    text-transform: uppercase;

                    &:hover {
                        color: white;
                        background-color: #60663E;
                    }
            }
            }
        }

        .links {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .right-side {
            width: 62%;
            background-color: white;
            padding: 10px;
        }
        p {
            font-size: 10px;
        }

        img {
            margin-bottom: 0px;
        }

        div.more {
            text-align: right;
            justify-content: flex-end;

            a{
                color: red;
                text-decoration: none;
                font-size: 9px;
            }
        }

    }
}

section.footer {
    background-color: #60663E;
    text-align: center;
    color: white;
    font-size: 11px;
    padding: 8px 0;
}

h4 {
    color: #60663E;
    border-bottom: 2px dashed red;
    font-weight: unset;
    margin-top: 0px;
}